XMLDB/shema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2016 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="job">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Buraucratic"/>
				<xs:enumeration value="Driver"/>
				<xs:enumeration value="Painter Sculpter"/>
				<xs:enumeration value="Waiter"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Alfred"/>
				<xs:enumeration value="Ali"/>
				<xs:enumeration value="Celine"/>
				<xs:enumeration value="Jean"/>
				<xs:enumeration value="Leonard"/>
				<xs:enumeration value="Marie"/>
				<xs:enumeration value="Siboulette"/>
				<xs:enumeration value="Totor"/>
				<xs:enumeration value="Totora"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="heigh">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1.6"/>
				<xs:enumeration value="1.72"/>
				<xs:enumeration value="1.8"/>
				<xs:enumeration value="1.9"/>
				<xs:enumeration value="12"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="7.42"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="human">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="surname"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="job"/>
						<xs:element ref="MBTIPersonalityResult" minOccurs="0"/>
						<xs:element ref="gender"/>
						<xs:element ref="heigh"/>
					</xs:sequence>
					<xs:sequence>
						<xs:sequence minOccurs="0">
							<xs:element ref="MBTIPersonalityResult"/>
							<xs:element ref="job"/>
						</xs:sequence>
						<xs:element ref="gender"/>
						<xs:element ref="heigh"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="world">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="humans"/>
				<xs:element ref="dinosaurs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gender">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Female"/>
				<xs:enumeration value="Male"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="humans">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="human" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="surname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Davici"/>
				<xs:enumeration value="Dupond"/>
				<xs:enumeration value="Dupont"/>
				<xs:enumeration value="Jones"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dinosaur">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="alimentation"/>
				<xs:element ref="killedDinosaursCount"/>
				<xs:element ref="heigh"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dinosaurs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dinosaur" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="alimentation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Meat"/>
				<xs:enumeration value="Vegetables"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="killedDinosaursCount">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
				<xs:enumeration value="42"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MBTIPersonalityResult">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ENTP"/>
				<xs:enumeration value="ISFJ"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
